/* Coolors Exported Palette - https://coolors.co/f9f1e6-dcd5cf-ddccbb-fbf9f5-ce9173-a88471-f8f1e9-aa988f-706a63 */

/* CSS HEX */
--linen: #F9F1E6ff;
--timberwolf: #DCD5CFff;
--almond: #DDCCBBff;
--baby-powder: #FBF9F5ff;
--antique-brass: #CE9173ff;
--beaver: #A88471ff;
--linen-2: #F8F1E9ff;
--grullo: #AA988Fff;
--dim-gray: #706A63ff;

/* CSS HSL */
--linen: hsla(35, 61%, 94%, 1);
--timberwolf: hsla(28, 16%, 84%, 1);
--almond: hsla(30, 33%, 80%, 1);
--baby-powder: hsla(40, 43%, 97%, 1);
--antique-brass: hsla(20, 48%, 63%, 1);
--beaver: hsla(21, 24%, 55%, 1);
--linen-2: hsla(32, 52%, 94%, 1);
--grullo: hsla(20, 14%, 61%, 1);
--dim-gray: hsla(32, 6%, 41%, 1);

/* SCSS HEX */
$linen: #F9F1E6ff;
$timberwolf: #DCD5CFff;
$almond: #DDCCBBff;
$baby-powder: #FBF9F5ff;
$antique-brass: #CE9173ff;
$beaver: #A88471ff;
$linen-2: #F8F1E9ff;
$grullo: #AA988Fff;
$dim-gray: #706A63ff;

/* SCSS HSL */
$linen: hsla(35, 61%, 94%, 1);
$timberwolf: hsla(28, 16%, 84%, 1);
$almond: hsla(30, 33%, 80%, 1);
$baby-powder: hsla(40, 43%, 97%, 1);
$antique-brass: hsla(20, 48%, 63%, 1);
$beaver: hsla(21, 24%, 55%, 1);
$linen-2: hsla(32, 52%, 94%, 1);
$grullo: hsla(20, 14%, 61%, 1);
$dim-gray: hsla(32, 6%, 41%, 1);

/* SCSS RGB */
$linen: rgba(249, 241, 230, 1);
$timberwolf: rgba(220, 213, 207, 1);
$almond: rgba(221, 204, 187, 1);
$baby-powder: rgba(251, 249, 245, 1);
$antique-brass: rgba(206, 145, 115, 1);
$beaver: rgba(168, 132, 113, 1);
$linen-2: rgba(248, 241, 233, 1);
$grullo: rgba(170, 152, 143, 1);
$dim-gray: rgba(112, 106, 99, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #F9F1E6ff, #DCD5CFff, #DDCCBBff, #FBF9F5ff, #CE9173ff, #A88471ff, #F8F1E9ff, #AA988Fff, #706A63ff);
$gradient-right: linear-gradient(90deg, #F9F1E6ff, #DCD5CFff, #DDCCBBff, #FBF9F5ff, #CE9173ff, #A88471ff, #F8F1E9ff, #AA988Fff, #706A63ff);
$gradient-bottom: linear-gradient(180deg, #F9F1E6ff, #DCD5CFff, #DDCCBBff, #FBF9F5ff, #CE9173ff, #A88471ff, #F8F1E9ff, #AA988Fff, #706A63ff);
$gradient-left: linear-gradient(270deg, #F9F1E6ff, #DCD5CFff, #DDCCBBff, #FBF9F5ff, #CE9173ff, #A88471ff, #F8F1E9ff, #AA988Fff, #706A63ff);
$gradient-top-right: linear-gradient(45deg, #F9F1E6ff, #DCD5CFff, #DDCCBBff, #FBF9F5ff, #CE9173ff, #A88471ff, #F8F1E9ff, #AA988Fff, #706A63ff);
$gradient-bottom-right: linear-gradient(135deg, #F9F1E6ff, #DCD5CFff, #DDCCBBff, #FBF9F5ff, #CE9173ff, #A88471ff, #F8F1E9ff, #AA988Fff, #706A63ff);
$gradient-top-left: linear-gradient(225deg, #F9F1E6ff, #DCD5CFff, #DDCCBBff, #FBF9F5ff, #CE9173ff, #A88471ff, #F8F1E9ff, #AA988Fff, #706A63ff);
$gradient-bottom-left: linear-gradient(315deg, #F9F1E6ff, #DCD5CFff, #DDCCBBff, #FBF9F5ff, #CE9173ff, #A88471ff, #F8F1E9ff, #AA988Fff, #706A63ff);
$gradient-radial: radial-gradient(#F9F1E6ff, #DCD5CFff, #DDCCBBff, #FBF9F5ff, #CE9173ff, #A88471ff, #F8F1E9ff, #AA988Fff, #706A63ff);